<!-- About Start -->
<div class="container-xxl py-5" id="about_us">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
      About us
    </h1>
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img position-relative overflow-hidden p-5 pe-0">
            <img class="img-fluid w-100" src="../../../assets/kpo.jpg" />
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <h1 class="mb-4">"Welcome to Global first step services"</h1>
          <p>
            where expertise meets service excellence. We are your comprehensive
            solution provider, offering a diverse range of services to meet your
            needs.
          </p>
          <p>
            As job consultants, we are dedicated to connecting talent with
            opportunity, guiding individuals towards fulfilling careers.
          </p>
          <p>
            In the realm of real estate, we assist clients in finding their
            dream properties, making property transactions seamless and
            satisfying.
          </p>
          <p>
            With our finance services, we offer sound financial advice and
            solutions, ensuring your financial well-being and prosperity.
          </p>
          <p>
            And as your trusted e-seva provider, we simplify government and
            administrative tasks, making life easier for you.
          </p>
          <p>
            At Global first step services, our mission is to empower individuals
            and businesses by delivering quality service and expertise in every
            field we operate. Join us on this journey towards success."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
