<!-- Category Start -->
<div class="container-xxl py-5 portal_wrapper">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
      Explore By Category
    </h1>
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let item of category">
          <div
            class="card hover-lift hover-shadow-xl shadow-sm border-0"
            routerLink="real-estate-detail/{{ item.name }}"
          >
            <!--card-body-->
            <div class="card-body p-4">
              <div class="d-flex mb-4 align-items-center">
                <!--Companies group-->
                <div class="flex-grow-1 d-flex align-items-center">
                  <!--Campany-->
                  <div
                    class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border"
                  >
                    <img
                      src="../../../../assets/icon-luxury.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <!--Campany-->
                  <div
                    class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border"
                  >
                    <img
                      src="../../../../assets/icon-apartment.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <!--Campany-->
                  <div
                    class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border"
                  >
                    <img
                      src="../../../../assets/icon-search.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <h5>{{ item.name }}</h5>
              <p class="mb-0 text-muted">{{ item.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Category End -->
